

<!-- register for check -->

<div class="re-image">
  <div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Register</h3>
          </div>
          <div class="card-body">
            <form class="form" [formGroup]="myForm">
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" appFormValidation="{{isvalidFName}}"placeholder="First Name" (input)="onChange()"
                  formControlName="firstname" name="firstname" class="form-control rounded-0" required>
                  
                <div *ngIf="myForm.controls.firstname.errors && myForm.controls.firstname.touched" class="error text-danger">
                  <p *ngIf="myForm.controls.firstname.errors.required">*First Name is Required</p>
                  <p *ngIf="myForm.controls.firstname.errors.maxlength">Name must be less than 8 characters
                  </p>
                  <p *ngIf="myForm.controls.firstname.errors.pattern">Name must be characters only</p>
                </div>
              </div>
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" appFormValidation="{{isvalidLName}}" (input)="onChange()" placeholder="Last Name"formControlName="lastname"
                  name="lastname" class="form-control rounded-0" required>
                
                <div *ngIf="myForm.controls.lastname.errors && myForm.controls.lastname.touched" class="error text-danger">
                  <p *ngIf="myForm.controls.lastname.errors.required">*Last Name is Required</p>
                  <p *ngIf="myForm.controls.lastname.errors.maxlength">Name must be less than 8 characters</p>
                  <p *ngIf="myForm.controls.lastname.errors.pattern">Name must be characters only</p>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" appFormValidation="{{isvalidEmail}}" (input)="onChange()"placeholder="Email" formControlName="email"
                  name="email" class="form-control rounded-0" required>
                
                <div *ngIf="myForm.controls.email.errors && myForm.controls.email.touched" class="error text-danger">
                  <p *ngIf="myForm.controls.email.errors.required">*email is Required</p>
                  <p *ngIf="myForm.controls.email.errors.pattern">invalid email</p>
  
                </div>
  
  
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <select formControlName="gender" appFormValidation="{{isvalidGender}}" (change)="onChange()"
                  name="gender" id="gender" class="form-control rounded-0" required>
                  <option value="" disabled selected>Gender</option>
                  <option name="male" value="male">Male</option>
                  <option name="female" value="female">Female</option>
                </select>
                <div *ngIf="myForm.controls.gender.errors && myForm.controls.gender.touched" class="error text-danger">
                  <p *ngIf="myForm.controls.gender.errors.required ">*Gender is Required</p>
  
                </div>
              </div>
  
              <div class="form-group">
                <label>Password</label>
                <input type="password" appFormValidation="{{isvalidPassword}}" (input)="onChange()" name="password"
                  formControlName="password" class="form-control rounded-0" placeholder="password" required>
  
                <div *ngIf="myForm.controls.password.errors && myForm.controls.password.touched" class="error text-danger">
                  <p *ngIf="myForm.controls.password.errors.required">*password is Required</p>
                  <p *ngIf="myForm.controls.password.errors.minlength">passwor must be at least 8 characters</p>
                </div>
  
              </div>
  
  
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" appFormValidation="{{isvalidCPassword}}" name="confirmpassword"
                  formControlName="confirmpassword" class="form-control rounded-0" placeholder="Confirm password"(input)="onChange()"
                  required>
  
                <div *ngIf="myForm.controls.confirmpassword.errors && myForm.controls.confirmpassword.touched" class="error text-danger">
                  <p *ngIf="myForm.controls.confirmpassword.errors.required">*confirm password is Required</p>
                  <p *ngIf="myForm.controls.confirmpassword.errors.passwordValidity" class="error text-danger">
                    Passsword and Confirm Password didn't match.
                  </p>
                </div>
  
              </div>
  
  
              <button type="button" (click)="registerUser()" class="btn btn-primary rounded-0">Register</button>
              <div class="error text-danger">
                <p>{{errMsg}}</p>
              </div>
            </form>
          </div>
  
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>
</div>
