

    <section id="hero">
        <div class="container-fluid mb-4">
            <div class="row">
                <div class="col-md-6 header">
                    <p>WE MAKE BEST MAKEUP</p>
                    <h3>Amnesia</h3>
                    <button (click)="shopnow()" type="button" class="btn btn-primary rounded-0">Shop Now</button>
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- about us -->
    <div id="aboutUs" style="min-height:50px;">  

    </div>
    <section id="about">
        <div class="about">
            <h3>About Us</h3>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 im">
    
                    </div>
                    <div class="col-lg-6">
                       
                        <p>‘Amnesia’ Egypt Cosmetics is the result of owners hardwork,
                            big name makeup craftsman and restorative aesthetician.
                        </p>
                        <span><i class="far fa-check-circle"></i>The makeup accumulation includes backstage excellence and
                            regular.</span>
                        <span><i class="far fa-check-circle"></i> just as a wide cluster of strikingly lively shades that
                            are all cold.</span>
                        <span><i class="far fa-check-circle"></i>hypoallergenic, sun-assurance figured, eco-accommodating,
                            fit.</span>
                        <span><i class="far fa-check-circle"></i> It is a long established fact that a distracted.</span>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
    
    <!-- our team -->
    <section id="team">
        <h3>Our Professional Team</h3>
        <div class="container">
           <div class="row">
             <div class="col-lg-3">
                   <img src="../../assets/FA0A8855.JPG" width="200px"height="200px">
                   <h4>Asmaa Mohamed</h4>
                   <h5>Front End Developer</h5>
                   <p>member of teammember of teammember of teammember of team </p>
                   <ul>
                       <li> <i class="fab fa-facebook-f"></i></li>
                       <li><i class="fab fa-twitter"></i></li>
                       <li><i class="fab fa-linkedin-in"></i></li>
                        <li> <i class="fab fa-instagram"></i></li>
                   </ul>
               </div>
               <div class="col-lg-3">
                <img src="../../assets/FA0A8855.JPG" width="200px"height="200px">
                   <h4>Asmaa Mohamed</h4>
                   <h5>Front End Developer</h5>
                   <p>member of teammember of teammember of teammember of team </p>
                   <ul>
                    <li> <i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                        <li> <i class="fab fa-instagram"></i></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <img src="../../assets/FA0A8855.JPG" width="200px"height="200px">
                <h4>Asmaa Mohamed</h4>
                <h5>Front End Developer</h5>
                <p>member of teammember of teammember of teammember of team </p>
                <ul>
                    <li> <i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                        <li> <i class="fab fa-instagram"></i></li>
                </ul>
                
            </div>
            <div class="col-lg-3">
                <img src="../../assets/FA0A8855.JPG" width="200px"height="200px">
                <h4>Asmaa Mohamed</h4>
                <h5>Front End Developer</h5>
                <p>member of teammember of teammember of teammember of team </p>
                <ul>
                    <li> <i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                    <li> <i class="fab fa-instagram"></i></li>
                </ul>
            </div>
           </div>
        </div>
    </section>
    
    
    
    <!-- scroll -->
    <a id="scrollUp" href="#hero" style="display: block; position: fixed; " (click)="topFunction()"><i class="fa fa-angle-up"></i></a>
    
    <!-- ourclient -->
    <section id="clients">
        <div class="client">
            <h3>Testimonials Of Our Clients</h3>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <i class="fas fa-quote-right"></i>
                    <p> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae
                      diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi
                      finibus, vel tristique risus faucibus. </p>
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-2">
                          <img src="../../assets/testimonial-1.jpg">
                        </div>
                        <div class="col-lg-9 offset-lg-1 info">
                          <h6>Janey Williams</h6>
                          <span>Sales Executive</span>
                          <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </div>
    
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <i class="fas fa-quote-right"></i>
                    <p> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae
                      diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi
                      finibus, vel tristique risus faucibus. </p>
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-2">
                          <img src="../../assets/testimonial-2.jpg">
                        </div>
                        <div class="col-lg-9 offset-lg-1 info">
                          <h6>Glen Jarret</h6>
                          <span>HR Manager</span>
                          <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </div>
    
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <div class="carousel-item">
                    <i class="fas fa-quote-right"></i>
                    <p> Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae
                      diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi
                      finibus, vel tristique risus faucibus. </p>
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-2">
                          <img src="../../assets/testimonial-3.jpg">
                        </div>
                        <div class="col-lg-9 offset-lg-1 info">
                          <h6>Kate Lawrence</h6>
                          <span>Photographer</span>
                          <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </div>
    
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <app-footer></app-footer>