<div style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <div style="padding:30px;text-align: left; background-color:#eae3c8; color:#383e56; border-radius: 5px;">
        <h2>
            Welcome to Amnesia
        </h2>
    </div>

    <div class="container">
        <div class="input-area container-fluid">
            <form [formGroup]="myForm">
                <!-- password -->
                <div class="password col-md-5 mb-3">
                    <label for="password" class="col-sm-12">Password</label>
                    <div class="input-group">
                        <input type="text" class="form-control"
                            *ngIf="myForm.controls.password.errors else correctpassword" appValidationError
                            id="password" placeholder="password" name="password" formControlName="password" required>
                        <ng-template #correctpassword>
                            <input type="text" class="form-control" appValidationCorrect id="password"
                                placeholder="password" name="password" formControlName="password" required>
                        </ng-template>

                        <div *ngIf="myForm.controls.password.errors" class="error text-danger">
                            <p *ngIf="myForm.controls.password.errors.required">password is Required</p>
                            <p *ngIf="myForm.controls.password.errors.minlength">password must be more than 8 characters
                            </p>
                        </div>
                    </div>
                    <!-- confirm password -->
                    <label for="confirmPassword" class="col-sm-12">Confirm Password</label>
                    <div class="col-md-5 mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                *ngIf="myForm.controls.confirmPassword.errors else correctconfirmPassword"
                                appValidationError id="confirmPassword" placeholder="confirmPassword"
                                name="confirmPassword" formControlName="confirmPassword" required>
                            <ng-template #correctconfirmPassword>
                                <input type="text" class="form-control" appValidationCorrect id="password"
                                    placeholder="confirmPassword" name="confirmPassword"
                                    formControlName="confirmPassword" required>
                            </ng-template>

                            <div *ngIf="myForm.controls.confirmPassword.errors" class="error text-danger">
                                <p *ngIf="myForm.controls.confirmPassword.errors.required">confirm pasword is Required
                                </p>
                                <p *ngIf="myForm.controls.confirmPassword.errors.minlength">confirm pasword must be more
                                    than 8
                                    characters
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- <p [routerLink]="['/login']">Go to login</p> -->

                    <!-- <div class="row">
                        <label for="password" class="col-sm-12">New password</label>
                        <input type="password" name="password" class="col-sm-12" id="password">
                        <span class="hide check col-12">Invalid password</span>
                    </div>
                    <div class="row mt-2">
                        <label for="confirmPassword" class="col-sm-12">Confirm password</label>
                        <input type="password" name="confirmPassword" class="col-sm-12" id="confirmPassword">
                        <span class="hide check col-12">confirm password must exactly match the entered password</span>
                    </div>-->
                    <div class="row mt-3">
                        <button class="change rounded-0 btn btn-coral w-100" (click)="confirmpw()">Change password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>